# 素材
pic/
模板/
绿幕抠图/
统计数据/
新人自荐/
经典推荐/
旧稿推荐/
冷门推荐/
主榜视频/
主榜3-1/
主榜10-4/
主榜20-11/
副榜21-125/
*期连续在榜/
鬼畜剧场月刊/
鬼畜月刊新人自荐/
使用说明.png
(素材)/
ED.aep
OPTEXT.ffx
zip.ps1

# 数据
*.json
*.xlsx
*.csv
*.tar.bz2
*.txt
*.ted
*.zip
*.7z

# 编译
*.exe
*.spec