__pycache__/
node_modules/
venv/
# 素材
pic/
模板/
绿幕抠图/
统计数据/
新人自荐/
经典/
旧榜/
榜外/
主榜视频/
主榜3-1/
主榜10-4/
主榜20-11/
副榜21-125/
*期连续在榜/
鬼畜剧场月刊/
鬼畜月刊新人自荐/
鬼畜年刊文件夹/
使用说明.png
(素材)/
ED.aep
OPTEXT.ffx
zip.ps1
*.ttf

# 数据
psdownload/download.txt
*.json
*.xlsx
*.csv
*.tar.bz2
*.txt
*.ted
*.zip
*.7z

# 编译
*.exe
*.spec
*.bat